/* bookedClean.css */

.bookings {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

.bookings table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.bookings th, .bookings td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.bookings th {
    background-color: #f2f2f2;
    color: #333; /* Ändra färgen här */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    //background-color: #f2f2f2;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

p {
    font-size: 16px;
    margin: 5px 0;
}

p:last-child {
    font-weight: bold;
}



/*Till tabellerna i UserManagement*/

.actions-container {
    display: flex;
    justify-content: space-evenly;
}

.user-action-button {
    margin-right: 10px;
    /* Du kan lägga till ytterligare stilinställningar här om det behövs */
}