/* Grundläggande Dashboard-styling */
.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    background-color: #14284b;
}

.dashboard-sidebar, .dashboard-content, .dashboard-welcome, .dashboard-options {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.dashboard-sidebar {
    background-color: #3F51B5;
}

.dashboard-content {
    background-color: #E8EAF6;
    color: #333;
    width: 80%;
    max-width: 800px; /* Justera bredd vid behov */
}

.dashboard-welcome {
    background-color: #0077ff;
}

.dashboard-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-button {
    background-color: #3F63A2;
    margin: 10px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #fff;
}

.dashboard-button:hover {
    background-color: #2C5170;
}

/* Tabell-styling */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #4CAF50;
    color: white;
}

/* Popup-styling */
.popup {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Responsiv design */
@media (max-width: 768px) {
    .dashboard-sidebar {
        width: 100%;
        position: static;
        order: -1; /* Flytta sidebar till toppen på små skärmar */
    }

    .dashboard-content, table {
        width: 95%;
    }
}

/* Knapp- och Interaktiva Element-styling */
.button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.button:hover {
    background-color: #0056b3;
}

/* Övergripande Layout och Marginaler */
.dashboard-content {
    padding: 20px;
    margin-bottom: 20px; /* Lägg till marginaler vid behov */
}
