.registration {
    /* max-width: 400px; */
    /* margin: auto; */
    /* margin-top: 10rem; */
    padding: 5rem;
    /* border: 1px solid #cf2c2c;
    border-radius: 5px; */

    height: 100vh;
    background-color: #004AAD;

}

.req-dig{
    color: white;
    padding: 2em;
    background-color: #001C73;
    border-radius: 2em;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    /* border: none; ta bort kommentaren eft*/
    border-radius: 5px;
    color: red;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
